/*
    Top Section
*/
.top_section {
    width: 100%;
    height: 35rem;
    position: relative;

    background-color: #003c5f;
    z-index: 1;
}

.top_section_background {
    width: 100%;
    min-height: 155vh;
    position: absolute;

    bottom: 0;
    z-index: -1;

    background-image: url('/background_bezier.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 10rem;
}

/**
    Team Section
*/
.page_sub_section {
    width: 100%;
    height: fit-content;
    position: relative;

    padding-bottom: 3rem;
    z-index: 10;
    background-color: rgb(221, 252, 255);
}

.team_container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;

    box-sizing: border-box;
    padding: 2rem;

    z-index: 10;
}

.teammate_card {
    width: 10rem;
    height: 20rem;

    position: relative;

    background-color: #003c5f;
    margin: auto;
}

.profile_image {
    width: 100%;
}

.team_card_text_container {
    padding: 0rem 1rem;
}

.teammate_name {
    font-weight: 600;
}

.bio_navigate_button {
    width: 3rem;
    height: 3rem;
    position: absolute;

    bottom: 9.5rem;
    right: -0.75rem;
    border: 3px solid #fdc55e;
    background-color: #ffffff;
    color: #003c5f;

    border-radius: 10px 20px 10px 20px;

    font-weight: 520;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.bio_navigate_button:hover {
    border-radius: 5px;
    background-color: #50d3ff;
    color: #003c5f;
    border: 3px solid transparent;
}

/**
    Media Queries
*/
@media screen and (max-width: 1200px) {
    .team_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .teammate_card {
        width: 15rem;
        height: 22.5rem;

        position: relative;

        background-color: #003c5f;
        margin: auto;
    }

    .bio_navigate_button { 
        bottom: 30%;
    }
}

@media screen and (max-width: 1000px) {
    .team_container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 700px) {
    .team_container {
        grid-template-columns: repeat(1, 1fr);
    }
}