.theme_toggle_button {
    width: 2rem;
    height: 2rem;

    border-radius: 10px;
    border: 2px solid rgb(255, 223, 106);

    background-color: transparent;
    background-image: url('/icons/light.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;

    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.theme_toggle_button:hover {
    transform: scale(1.1);
}


.theme_toggle_button:active {
    transform: scale(0.7);
}

[data-theme="dark"] .theme_toggle_button {
    background-image: url('/icons/moon.webp');
    border: 2px solid rgb(159, 159, 159);
}